{{#each results}}
  {{#ifEquals [4. region] "Brazil/Sao Paolo"}}
    <div class="card text-white bg-dark search-card m-1">
      <div class="card-header">
        {{removeEnd [1. symbol]}}
      </div>
      <div class="card-body text-center">
        <p class="card-text">{{'2. name'}}</p>
        <a class="btn btn-primary p-0" title="Adicionar à carteira" data-toggle="modal" data-target="#Modal" data-code="{{'1. symbol'}}" data-whatever="NomeAção" style="height: 38px; width: 38px;">
          <i class="material-icons" style="line-height: unset;">note_add</i>
        </a>
      </div>
    </div>
  {{/ifEquals}}
{{/each}}
