<!-- Graphic -->

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Rentabilidade da minha carteira</h1>

      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> 1 Dia
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off"> 5 Dias
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option3" autocomplete="off"> 1 Mês
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option3" autocomplete="off"> 1 Ano
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option3" autocomplete="off"> 5 Anos
        </label>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 text-center">
        <!-- Gráfico de linha -->
        <!-- start Canvas -> Desenhar elementos gráficos usado JS -->
        <canvas class="line-chart"></canvas>
        <!-- Construção do gráfico -->
        <script>
        var ctxl = document.getElementsByClassName("line-chart");
        //Cor padrão das fontes
        Chart.defaults.global.defaultFontColor = 'white';
        var chartGraph = new Chart(ctxl, {
          //Tipo de gráfico: linha
          type: 'line',
          data: {
            //Eixo X
            labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            datasets: [
              {
                //Legenda / Nome do eixo Y
                label: "CDI",
                //Dados eixo Y
                data: [0.54, 1.03, 1.51, 2.03, 2.59, 3.07, 3.65, 4.17, 4.66, 5.16,5.65],
                //Espessura da linha
                borderWidth: 4,
                //Cor da linha (primária)
                borderColor: 'orange'
              },
              {
                //Legenda / Nome do eixo Y
                label: "Ibovespa",
                //Dados eixo Y
                data: [10.82, 8.76, 8.56, 9.63, 10.4, 14.88, 15.84, 15.07,19.18,21,16.5],
                //Espessura da linha
                borderWidth: 4,
                //Cor da linha (primária)
                borderColor: 'blue'
              },
              {
                //Legenda / Nome do eixo Y
                label: "Minha carteira",
                //Dados eixo Y
                data: [0, 0, 7, 5, 10, 12, 17, 13, 12, 15],
                //Espessura da linha
                borderWidth: 4,
                //Cor da linha (primária)
                borderColor: 'purple'
              }
            ]
          },
          options: {
            animation: {
              onProgress: function (animation) {
              },
              tooltips: {
                mode: 'point'
              }
            },
            title: {
              //Título do gráfico
              display: true,
              text: 'Minha carteira x CDI x Ibovespa',
              padding: 15
            },
            legend: {
              display: true,
              //Alinhamento da legenda: alinhamento não ta funcionando
              align: 'end',
              position: 'top',
              labels: {
                //Largura da caixa de legenda
                boxWidth: 10
              }
            }
          }
        });
        </script>
      </div>
    </div>
  </div>
</div>
