<html>

  <head>
    <meta charset= "utf-8">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 input-group">
          <span class="icon">
            <i class="material-icons form-control-feedback">search</i>
          </span>
          <input type="text" class=" icon form-control" placeholder="Pesquisar ações ou fundos" />
        </div>
      </div>
      <div class="col-sm-12 text-center">Resultados da pesquisa:
      
      </div>
    </div>
    
  </body>

</html>


