<h1>{{title}}</h1>
<div class="row">
  <div class="input-group">
    <span class="icon">
      <i class="material-icons form-control-feedback">search</i>
    </span>
    <input type="text" class=" icon form-control" placeholder="Pesquisar ações ou fundos" />
  </div>
</div>
<div class="">
    RESULTADOS DA BUSCA
</div>
