<div class="input-group">
    <span class="input-group-append">
      <div class="input-group-text bg-light border-right-0 border px-2 icon"><i class="material-icons">search</i></div>
    </span>
      <input type="text" class="form-control bg-light border-left-0 border icon pl-0" placeholder="Pesquisar ações ou fundos" />
</div>

<div class="card-group mt-2">
    <div class="card text-white bg-dark search-card m-1">
      <div class="card-header">
        Nome da ação
      </div>
      <div class="card-body text-center">
        <p class="card-text">Informações</p>
        <a href="#" class="btn btn-primary">Detalhes</a>
        <a href="#" class="btn btn-secondary p-0" title="Adicionar para a carteira" style="height: 38px; width: 38px;">
          <i class="material-icons" style="line-height: unset;">note_add</i>
        </a>
      </div>
    </div>
    <div class="card text-white bg-dark search-card m-1">
      <div class="card-header">
        Nome da ação
      </div>
      <div class="card-body text-center">
        <p class="card-text">Informações</p>
        <a href="#" class="btn btn-primary">Detalhes</a>
        <a href="#" class="btn btn-secondary p-0" title="Adicionar para a carteira" style="height: 38px; width: 38px;">
          <i class="material-icons" style="line-height: unset;">note_add</i>
        </a>
      </div>
    </div>
    <div class="card text-white bg-dark search-card m-1">
      <div class="card-header">
        Nome da ação
      </div>
      <div class="card-body text-center">
        <p class="card-text">Informações</p>
        <a href="#" class="btn btn-primary">Detalhes</a>
        <a href="#" class="btn btn-secondary p-0" title="Adicionar para a carteira" style="height: 38px; width: 38px;">
          <i class="material-icons" style="line-height: unset;">note_add</i>
        </a>
      </div>
    </div>
    <div class="card text-white bg-dark search-card m-1">
      <div class="card-header">
        Nome da ação
      </div>
      <div class="card-body text-center">
        <p class="card-text">Informações</p>
        <a href="#" class="btn btn-primary">Detalhes</a>
        <a href="#" class="btn btn-secondary p-0" title="Adicionar para a carteira" style="height: 38px; width: 38px;">
          <i class="material-icons" style="line-height: unset;">note_add</i>
        </a>
      </div>
    </div>
</div>
