<div class="container-fluid">
  <div class="row">
    <div class="col-sm-100 w-100">
      <span class="icon">
        <i class="material-icons form-control-feedback">search</i>
      </span>
      <input type="text" class="icon form-control w-100" placeholder="Pesquisar ações ou fundos" />
    </div>
  </div>
</div>

<div class="card-group mt-3">
    <div class="card bg-dark search-card m-2">
      <div class="card-header">
        Nome da ação
      </div>
      <div class="card-body text-center">
        <p class="card-text">Informações</p>
        <a href="#" class="btn btn-primary">Detalhes</a>
        <a href="#" class="btn btn-secondary p-0" title="Adicionar para a carteira" style="height: 34px; width: 34px;">
          <i class="material-icons" style="line-height: unset;">note_add</i>
        </a>
      </div>
    </div>
    <div class="card bg-dark search-card m-2">
      <div class="card-header">
        Nome da ação
      </div>
      <div class="card-body text-center">
        <p class="card-text">Informações</p>
        <a href="#" class="btn btn-primary">Detalhes</a>
        <a href="#" class="btn btn-secondary p-0" title="Adicionar para a carteira" style="height: 34px; width: 34px;">
          <i class="material-icons" style="line-height: unset;">note_add</i>
        </a>
      </div>
    </div>
    <div class="card bg-dark search-card m-2">
      <div class="card-header">
        Nome da ação
      </div>
      <div class="card-body text-center">
        <p class="card-text">Informações</p>
        <a href="#" class="btn btn-primary">Detalhes</a>
        <a href="#" class="btn btn-secondary p-0" title="Adicionar para a carteira" style="height: 34px; width: 34px;">
          <i class="material-icons" style="line-height: unset;">note_add</i>
        </a>
      </div>
    </div>
    <div class="card bg-dark search-card m-2">
      <div class="card-header">
        Nome da ação
      </div>
      <div class="card-body text-center">
        <p class="card-text">Informações</p>
        <a href="#" class="btn btn-primary">Detalhes</a>
        <a href="#" class="btn btn-secondary p-0" title="Adicionar para a carteira" style="height: 34px; width: 34px;">
          <i class="material-icons" style="line-height: unset;">note_add</i>
        </a>
      </div>
    </div>
</div>
