<html>
<body>
<!-- Graphic -->

<!-- start Canvas -> Desenhar elementos gráficos usado JS -->
<canvas class="line-chart"></canvas>

<!-- Include CHart Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<script>
  var ctx = document.getElementsByClassName("line-chart");


</script>

</body>
</html>
