<div class="container-fluid" style="max-width: 350px; min-width: 200px;">
  <div class="row">
    <img class="mx-auto" src="imagens/logo.png" width="200px" height="200px" />
  </div>
  <h1>Login:</h1>
  <form action="/index" method="post" class="w-100" id="meuForm">
    <fieldset>
      <div class="form-group">
        <label for="email">Endereço de email:</label>
        <input type="email" placeholder="Email" name="user[email]" class="form-control" id="email" required>
      </div>
      <div class="form-group">
        <label for="pwd">Senha:</label>
        <input type="password" placeholder="Senha" name="user[password]" class="form-control" id="pwd" required>
      </div>
    </fieldset>
    <div class="mb-2">
      <button type="submit" class="btn btn-primary" id="loginUserButton">Login</button>
      <button type="button" class="btn btn-primary" onclick="location.href='registrar'">Registrar</button>
    </div>
    <a class="text-light" href="esqueci-minha-senha">Esqueci minha senha</a>
  </form>
</div>
