<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<button class="Botao_pagina" onclick="location.href='1aba'">Aba 1</button>
<p></p>
<button class="Botao_pagina" onclick="location.href='2aba'">Aba 2</button>
<p></p>
<button class="Botao_pagina" onclick="location.href='3aba'">Aba 3</button>
