<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
<button class="Botao_pagina" onclick="location.href='1aba'">Aba 1</button>
<button class="Botao_pagina" onclick="location.href='2aba'">Aba 2</button>
<button class="Botao_pagina" onclick="location.href='3aba'">Aba 3</button>
</div>

<p></p>
<button class="Botao_gif" onclick="location.href= '1aba'">Passe o mouse para uma surpresa...</button>

