<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset= "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

  <body class="text-light h-100">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <a class="navbar-brand">
          <img src="imagens/logo.png" class="d-inline-block" width="30" height="30" alt="Logo">
          Stocks
        </a>
        <ul class="nav navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="minha-carteira">Minha Carteira</a></li>
          <li class="nav-item"><a class="nav-link" href="minha-rentabilidade">Rentabilidade da Minha Carteira</a></li>
          <li class="nav-item"><a class="nav-link" href="pesquisa">Pesquisa de Investimentos</a></li>
        </ul>
      </nav>

        {{{body}}}

  </body>

</html>
