<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset= "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

  <body class="corpo">
    <div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <img src="imagens/logo.png" width="150" height="150" class="d-inline-block align-top" alt="">
            {{!-- <a class="navbar-brand">Stocks</a> --}}
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Login</a></li>
            <li><a href="1aba">Minha Carteira</a></li>
            <li><a href="2aba">Rentabilidade da Minha Carteira</a></li>
            <li><a href="3aba">Pesquisa de Investimentos</a></li>
          </ul>
        </div>
      </nav>
    </div>
    
    {{{body}}}
    
  </body>
  
</html>
