<form action="/adicionar" method="post">
  <input type="text" name="sigla" placeholder="Sigla da ação">
  <br>
  <input type="number" name="quantidade" placeholder="Quantidade">
  <br>
  <input type="number" name="valor" placeholder="Valor do papel">
  <br>
  <input type="date" name="data" placeholder="Data da compra">
  <br>
  <button type="submit">Adicionar à carteira</button>
</form>
