<h1>{{title}}</h1>

<div class="row  enter">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <form action="/index" method="post">
            <div class="form-group">
                <label for="pwd">Nova senha:</label>
                <input type="password" name="user[password]" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Confirme nova senha:</label>
                <input type="password" name="user[password]" class="form-control" id="pwd">
            </div>
            <button type="submit" class="btn btn-success">Redefinir senha</button>
    </div>
    </form>
</div>
<div class="col-sm-4">
</div>
