<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="col-sm-4>"></div>
      <img src="imagens/logo.png" width="200px" height="200px" />
    </div>
    <div class="col-sm-12 text-center">
      <h2>Registrar:</h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row col-sm-12">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form action="/registrar" method="post">
        <fieldset>
          <div class="form-group">
            <label for="email">Endereço de email:</label>
            <input type="email" placeholder="Email" name="user[email]" class="form-control" id="email" required>
          </div>
          <div class="form-group">
            <label for="pwd">Senha:</label>
            <input type="password" placeholder="Senha" name="user[password]" class="form-control" id="password"
              required>
          </div>
          <div class="form-group">
            <label for="pwd">Confirmar senha:</label>
            <input type="password" placeholder="Confirmação da senha" name="user[confirmPassword]" class="form-control"
              id="confirmPassword" required>
          </div>
        </fieldset>
        <div class="col-sm-12 p-0 ml-0">
          <button type="submit" class="btn btn-primary" id="createUserButton">Criar Nova Conta</button>
          <button type="button" class="btn btn-secondary" onclick="location.href='./'">Voltar</button>
        </div>
      </form>
    </div>
  </div>
</div>