@import ../bootstrap/scss/bootstrap.scss

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.Botao_pagina:hover
  background-color: black
  color: white
  height: 30px
  border: dotted


.Botao_pagina 
  height: 30px
  color: black
  background-color: yellow
  font: 20px "Times New Roman"
