@import ../bootstrap/scss/bootstrap.scss

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

html
  height: 100%

a
  color: #00B7FF

.Botao_pagina:hover
  background-color: black
  color: white
  height: 30px
  border: dotted

.Botao_pagina
  height: 30px
  width: 32%
  color: black
  background-color: yellow
  font: 20px "Times New Roman"


.Botao_gif:hover
  color: transparent
  background-color: black
  border: double
  background-image: url('https://media.giphy.com/media/5zI213WKIL2uI/giphy.gif')

.Botao_gif
  font: 30px "Arial"
  height: 350px
  width: 300px
  color: black
  background-color: blue

.verde
    background-color: #7abd6a
    color: #7abd6a

.enter
  margin-top: 50px

.corpo
  background-color: black
  color: white
  height: 100%

input.icon
  padding-left: 34px

span.icon
  position: absolute
  margin-left: 0px
  height: 100%
  width: 34px
  color: black
  display: flex
  align-items: center
  z-index: 10
